body, html{
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body, table, td, th, p, textarea, div, span {
	color:#333;
	font-family: "微軟正黑體", "sans serif";
	font-size: 14px;
}

body{
	background: #fff;
}

.center-block{
	float: none;
}
	
a:active {
	text-decoration: none;
	color: #333;
	font-weight:bolder;
	text-transform:capitalize;
}
	
a:visited {
	text-decoration: none;
	color: #333;
	font-weight:bolder;
	text-transform:capitalize;
}
	
a:link {
	text-decoration: none;
	color: #333;
	font-weight:bolder;
	text-transform:capitalize;
}
	
a:hover {
	text-decoration: none;
	color: #F47B20;
	font-weight:bolder;
	text-transform:capitalize;
}

.navbar{
	margin: 0;
	background: #fff;
}

.navbar-nav{
	float: right;
}

.navbar-default .navbar-nav > li > a {
    padding: 32px 15px;
	color: #b20838;
	font-size: 14px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background: #61031d;
    color: #ffffff;
	
	background: #ac0836; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ac0836, #61031d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ac0836, #61031d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ac0836, #61031d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ac0836, #61031d); /* Standard syntax */
}

#header{
	border-bottom: 3px solid #b20838;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #fff;
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #b20838;
	height: 3px;
	width: 25px;
}	

.navbar-toggle:not(.collapsed) > span, .navbar-toggle.collapsed > img{
	display: none;
}



/* Content */

.page-content{
	padding: 50px;
	
}

.page-content#leave-data{
	background: url("../img/background.png") no-repeat;
}

.leave-data-title{
	color: #b20838;
	margin-bottom: 40px;
	
}

#leave-data .form-group input, #leave-data .form-group select{
	border: 1px solid #b20838;
	border-radius: 0;
	background: #e4e4e4;
}

#leave-data .form-group .styled-select select {
	-moz-appearance:none;
    -webkit-appearance:none;
	width: 119%;
	border: none;
	background: url("../img/arrow-select.png") no-repeat 75% center #e4e4e4;
	background-size: 17px;
}

.styled-select {
   width: 100%;
   overflow: hidden;
   border: 1px solid #b20838;
   
}

select::-ms-expand {
    display: none;
}
	

/* Bootstrap ---------- */
/*   XS   */
@media only screen 
and (max-width : 767px) {
	#header{
		text-align: center;
	}
	
	#logo{
		display: inline-block; text-align: center; margin-left: 60px;
	}
	
	#logo img{
		width: 60px;
	}
	
	.navbar-nav{
		float: none;
		background: #ededed;
	}
	
	.navbar-header img{
	
	}
	
	.navbar-default .navbar-nav > li > a{
		background: transparent;
		padding: 15px 15px;
		border-width: 1px 0;
		border-style: solid;
		border-color: #dedede;
	}
	
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
		background: transparent;
		color: #b20838;
	}
	
	.page-content{
		padding-left: 0;
		padding-right: 0;
	}
	
	.leave-data-title{
		font-size: 18px;
		margin-top: 0;
	}
	
	#leave-data .form-group .styled-select select {
		background: #e4e4e4 url("../img/arrow-select.png") no-repeat scroll 95% center / 17px auto;
	}
	
	#leave-data .form-group .styled-select select {
		width: 100%;
	}
}


	
