.container-fluid {
    padding: 0% 15%;
}

.page-content {
    padding: 0;
}

.page-content .brand {
    padding: 30px 0;
    background-image: url('../img/model-face.jpg');
    /*background-size: 100%;*/
    background-repeat: no-repeat;
}

.page-content .brand img {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
}

.page-content .brand .box {
    display: inline-block;
    margin-left: 15%;
    position: relative;
    width: 30%;
}

.page-content .brand .box .title {
    font-size: 2.5em;
    color: #B20838;
}

.page-content .brand .box .big-title {
    font-size: 3.7em;
    color: #E91651;
    margin: 15px 0 30px 0;
    line-height: 1em;
}

.page-content .brand .box .item-left img {
    float: left;
    width: 30%;
    border: 5px solid whitesmoke;
    margin-right: 5px;
    position: relative;
    top: -5px;
    border-radius: 5px;
}

.page-content .brand .box .item-right img {
    float: right;
    width: 30%;
    border: 5px solid whitesmoke;
}

.page-content .brand .box .item-left .title,
.page-content .brand .box .item-right .title {
    font-size: 1.2em;
    color: #E91651;
}

.page-content .brand .box .item-left .description,
.page-content .brand .box .item-right .description {
    color: grey;
    font-size: 0.9em;
}

.page-content .blog-container {
    margin: 30px 0 0 0px;
    text-align: center;
}

.page-content .blog-container .blog:nth-child(2) {
    margin: 0 3%;
}

.page-content .blog-container .blog {
    display: inline-block;
    width: 21%;
    box-shadow: 1px 1px 5px 0 lightgrey;
    border-radius: 5px;
    padding: 15px 20px;
}

.page-content .blog-container .blog img {
    width: 100%;
    position: relative;
    top: -30px;
    border-radius: 50%;
    border: 5px solid rgba(255, 212, 170, 0.4)
}

.page-content .blog-container .blog .title {
    margin: -15px 0 0 0;
    color: #E91651;
    font-size: 1.6em;
    font-weight: bold;
}

.page-content .blog-container .blog .short {
    text-align: left;
    color: grey;
}

.page-content .blog-container .blog .button-wrapper {
    text-align: center;
    margin-top: 5px;
}

.page-content .blog-container .blog .button-wrapper img{
    text-align: center;
    width: 35%;
    top: 0;
    border: none;
}

.page-content .mini-blog-container {
    margin: 30px 0px;
    text-align: center;
}

.page-content .mini-blog-container .mini-blog:nth-child(2) {
    margin: 0 3%;
}

.page-content .mini-blog-container .mini-blog {
    display: inline-block;
    width: 21%;
    padding: 15px 0px;
}

.page-content .mini-blog-container .mini-blog .img-wrapper{
    float: left;
    display: inline-block;
    width: 44%;
    margin-left: -5px;
    padding-right: 5px;
}

.page-content .mini-blog-container .mini-blog img {
    width: 100%;
}

.page-content .mini-blog-container .mini-blog .title {
    color: #E91651;
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
}

.page-content .mini-blog-container .mini-blog .short {
    text-align: left;
    color: grey;
    font-size: 0.9em;
}

.page-content .mini-blog-container .mini-blog .button-wrapper {
    clear: both;
    text-align: right;
    position: relative;
    top: -15px
}

.page-content .mini-blog-container .mini-blog .button-wrapper img{
    width: 30%;
    top: 0;
}

@media all and (max-width: 767px) {
    .container-fluid {
        padding: 0% 0%;
    }

    .page-content .brand{
        padding: 0;
    }

    .page-content .brand .box {
        padding: 15px 15px;
        margin-left: 0;
        width: 100%;
    }

    .page-content .brand .box .item-left,
    .page-content .brand .box .item-right{
        margin: 10px 0;
    }

    .page-content .brand .box .title {
        font-size: 1.7em;
    }

    .page-content .brand .box .big-title {
        font-size: 2em;
    }

    .page-content .blog-container {
        padding: 0 15px;
        margin: 0;
    }

    .page-content .blog-container .blog {
        width: 100%;
        margin: 30px 0
    }

    .page-content .blog-container .blog:nth-child(2) {
        margin: 0;
    }

    .page-content .blog-container .blog img{
        width: 100%;
    }

    .page-content .mini-blog-container {
        padding: 0 15px;
        margin: 0;
    }

    .page-content .mini-blog-container .mini-blog {
        width: 100%;
        margin: 15px 0
    }

    .page-content .mini-blog-container .mini-blog:nth-child(2) {
        margin: 0;
    }

    .page-content .mini-blog-container .mini-blog .title {
        text-align: left;
    }

    .page-content .mini-blog-container .mini-blog .short {
        text-align: left;
    }

    .page-content .mini-blog-container .mini-blog .button-wrapper{
        top: -5px
    }
}

