#leave-data .form-group .styled-select select {
	width: 135%;
	background: url("../img/arrow-select.png") no-repeat 65% center #e4e4e4;
}

/* Bootstrap ---------- */
/*   XS   */
@media only screen 
and (max-width : 767px) {
	#leave-data .form-group .styled-select select {
		width: 135%;
		background: url("../img/arrow-select.png") no-repeat 65% center #e4e4e4;
	}
}