.container-fluid {
    padding: 0% 15%;
}

.page-content {
    padding: 0;
}

.page-content .brand {
    padding: 100px 15%;
    background-position: right 15px top -90px;
    background-image: url('../img/index-bg.png');
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    position: relative;
}

.page-content .brand .text{
    display: inline-block;
    width: 70%;
}

.page-content .brand .text .title{
    color: #B20838;
    font-size: 1.7em;
}

.page-content .brand .text .big-title{
    color: #FD0248;
    font-size: 4em;
    /*font-weight: bold;*/
    line-height: 1em;
    margin: 5px 0;
    text-shadow: 0px 0px 10px white;
}

.page-content .brand .text .description{
    font-size: 1.4em;
    font-weight: bold;
    color: black;
}

.page-content .brand .img-wrapper.product{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*display: none;*/
    margin-top: 30px;
}

.page-content .brand .img-wrapper.product img{
    width: 70%;
}

.page-content .brand .img-wrapper.button{
    position: absolute;
    top: 40%;
    left: 45%;
}

.page-content .brand .img-wrapper.button img {
    width: 83%;
}

@media all and (max-width: 767px) {
    body{
        background-image: url('../img/index-brand-bg.png');
        background-position: right -150px top 54px;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: 200%;
    }

    body:after{
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container-fluid {
        padding: 0% 0%;
    }

    .page-content .brand {
        padding: 15px 15px;
        background-position: right 0px top 110px;
        background-image: url('../img/index-just-girl-and-light.png');
        background-size: 100%;
        position: relative;
    }

    .page-content .brand .text{
        width: 100%;
    }

    .page-content .brand .text .title{
        font-size: 1.2em;
    }

    .page-content .brand .text .big-title{
        font-size: 2em;
        text-shadow: 0 0 5px white;

    }

    .page-content .brand .text .description{
        width: 45%;
        font-size: 0.9em;
        font-weight: bold;
    }

    .page-content .brand .img-wrapper.product{
        margin-top: 10px;
    }

    .page-content .brand .img-wrapper.product img{
        width: 50%;
        box-shadow: 0 10px 10px -10px white;
    }

    .page-content .brand .img-wrapper.button{
        position: absolute;
        top: 37%;
        left: 47%;
    }

    .page-content .brand .img-wrapper.button img {
        width: 40%;
    }
}
