.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
	/* background-image: ; */
	background: #ac0836; /* For browsers that do not support gradients */
    background: url("../img/hover-menu.png") no-repeat right top, -webkit-linear-gradient(#ac0836, #61031d); /* For Safari 5.1 to 6.0 */
    background: url("../img/hover-menu.png") no-repeat right top, -o-linear-gradient(#ac0836, #61031d); /* For Opera 11.1 to 12.0 */
    background: url("../img/hover-menu.png") no-repeat right top, -moz-linear-gradient(#ac0836, #61031d); /* For Firefox 3.6 to 15 */
    background: url("../img/hover-menu.png") no-repeat right top, linear-gradient(#ac0836, #61031d); /* Standard syntax */
	
}

.page-content{
	padding-top: 155px;
}

.page-content#product{
	background: url("../img/bg-product.png") no-repeat left top #ebebeb;
	background-size: cover;
}

.product-image-wrapper {
	/* background: url("../img/product-shadow.png") no-repeat scroll center 93%; */
    border-radius: 300px;
    display: table;
    height: 360px;
    margin-right: -90px;
    margin-top: 5px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    width: 60%;
}

.product-image-wrapper:after {
    background: transparent;
    border-radius: 100%;
    bottom: 57px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0) inset, 0 25px 5px 1px rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    height: 15px;
    left: 50%;
    margin-left: -100px;
    margin-top: 88px;
    position: absolute;
    width: 200px;
    z-index: -1;
}

.product-image-wrapper .img-holder{
	display: table-cell; vertical-align: bottom;
}

.product-image-wrapper .img-holder img{
	margin-bottom: 35px;
    max-height: 270px;
    max-width: 50%;
	
}

/* Override Flexslider */
.flexslider {
    background: transparent;
    border: 0;
}
.flexslider .slides img {
    height: auto;
	width: auto;
}

#carousel.flexslider{
	width:46%;margin: 0 auto
	
}

/* #carousel.flexslider ul{
	width: 100% !im
} */

#carousel.flexslider .slides{
	transform: translate3d(0px, 0px, 0px) !important;
	display: table;
}

#carousel.flexslider .slides img{
	max-height: 90px;
    max-width: 50%;
	display: inline;
}

#carousel.flexslider .slides > li{
	width: 100px !important;
	text-align: center;
	padding-bottom: 5px;
	border: 5px solid transparent;
	cursor: pointer;
	height: 125px;
	display: table-cell !important;
	vertical-align: bottom;
	float: none !important;
}

#carousel.flexslider .slides > li.flex-active-slide{
	border-color: #b20838;
}

#carousel .flex-direction-nav{
	display: none;
}

.flex-direction-nav a{
	height: 60px;
}

.flex-direction-nav a.flex-next::before, .flex-direction-nav a::before{
	content: "";
}

.flex-prev {
    background: url("../img/arrow-left.png") no-repeat scroll 0 0 / 30px auto;
}

.flex-next {
    background: url("../img/arrow-right.png") no-repeat scroll 0 0 / 30px auto;
}


/* Bootstrap ---------- */
/*   XS   */ 
@media only screen 
and (max-width : 767px) {
	.page-content#product{
		background: #ebebeb url("../img/bg-product-mobile.png") no-repeat scroll center top / 220% auto;
		padding-top: 25px;
	}
	
	.product-image-wrapper::after {
		/* background: transparent none repeat scroll 0 0;
		border-radius: 100%;
		bottom: 57px;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0) inset, 0 25px 5px 1px rgba(0, 0, 0, 0.15);
		content: "";
		display: block;
		height: 15px; */
		width: 100%;
		margin-left: -50%;
		/* margin-top: 88px;
		position: absolute;
		width: 100%;
		z-index: -1; */
	}
	
	.product-image-wrapper {
		/* border-radius: 300px;
		display: table; */
		margin-right: 0;
		margin-top: 19%;
		/* margin-top: 19%; */
		max-height: 100%;
		width: 30%;
		height: auto;
		/* position: relative;
		text-align: center;
		vertical-align: bottom;
		width: 30%; */
	}
	
	.product-image-wrapper .img-holder img {
		margin: 0;
		margin-bottom: 35px;
		/*max-height: 270px;*/
		/*max-width: 50%;*/
		max-width: none;
		height: 160px;
		width: auto;
		position: relative;
		top: -10px;
	}

	.slide-product-detail{
		display: none;
	}

	.flex-active-slide .slide-product-detail{
		display: block;
	}

	.flex-active-slide .slide-product-detail img{
		width: 80%;
		position: relative;
		left: 17px;
	}

	.flex-direction-nav .flex-nav-prev{
		position: absolute;
		top: 18%;
		left: -0px;
	}
	.flex-direction-nav .flex-nav-next{
		position: absolute;
		top: 18%;
		right: -10px;
	}

	#carousel.flexslider{
		position: absolute;
		top: 65px ;
		left: 0;
		width: 100%;
	}

	#carousel.flexslider .slides > li{
		width: 2% !important;
	}

	.page-content{
		margin-top: 150px;
	}

	body{
		background-color: whitesmoke;
	}
}